{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "new-cap": "off",
    "newline-after-var": "off",
    "no-invalid-this": "off",
    "quotes": [
      "error",
      "single"
    ],
    "guard-for-in": "off",
    "no-console": "off",
    "no-undefined": "off",
    "array-bracket-spacing": "off",
    "no-unused-expressions": "off",
    "linebreak-style": "off",
    "func-style": [
      "error",
      "expression"
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "EASY_ENV_IS_PROD": true,
    "EASY_ENV_IS_NODE": true,
    "EASY_ENV_IS_BROWSER": true,
    "EASY_ENV_IS_DEV": true
  }
}