
.smart-cate-nav {
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
  }
  
  .smaller .smart-cate-nav {
    margin-top: 20px;
  }
  
  .smart-cate-nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    padding-bottom: 5px;
  }
  
  .smart-cate-nav li a {
    color: #18bc9c;
  }
  
  .smart-cate-nav li:hover a, .smart-cate-nav li.active a {
    color: #18bc9c;
    text-decoration: none;
  }
  
  .smart-cate-nav li.active, .smart-cate-nav span.active {
    border-bottom: 2px solid #18bc9c;
  }
  
  .smart-cate-nav li, .smart-cate-nav span {
    border-bottom: 2px solid transparent;
  }
  
  .smart-cate-nav li.submit a {
    color: #18bc9c;
    font-size: 18px;
  }
  
  .smart-artiles {
    margin: 0px;
    padding-left: 150px;
  }
  
  .smart-artiles > li {
    position: relative;
    display: block;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .smart-artiles > li .point {
    position: absolute;
    font-size: 36px;
    left: -150px;
    font-family: Georgia;
    color: #aaa;
    text-align: right;
    width: 100px;
  }
  
  
  .smart-artiles > li .time {
    margin-top: 10px;
    color: #aaa;
  }
  
  .smart-artiles > li h2 {
    font-size: 24px;
  }
  
  .smart-artiles > li .avatar {
    position: absolute;
    font-size: 36px;
    left: -35px;
  }
  
  .smart-artiles > li .avatar img.avatar {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  
  .smart-artiles > li .action {
    visibility: hidden;;
  }
  
  .smart-artiles > li:hover .action {
    visibility: visible;
  }
  
  .smart-artiles > li .actions {
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    font-size: 14px;
    color: #aaa;
  }
  
  .smart-artiles > li:hover .actions a {
    color: #aaa;
    text-decoration: none;
  }
  
  .smart-artiles > li:hover .actions a:hover {
    color: #18bc9c;
  }
  
  .smart-artiles > li .actions > li {
    display: inline-block;
    margin-right: 10px;
  }
  .redux-nav-item h1 {
    margin-top: 16px;
    text-align: center;
  }